<h3> Handling Events in Google Table</h3>
<p>
  <b>Data : </b>
  <%=raw @table.data %>
  <br>
  <b>Options</b>
  <%=raw @table.options %>
  <br>
  <b>Table : </b>
  <br>
  <%=raw @table.div %>
</p>
<br>

<h3> Handling events in Google charts</h3>
<p>
  <b>Data : </b>
  <%=raw @column_chart.data %>
  <br>
  <b>Options</b>
  <%=raw @column_chart.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @column_chart.div %>
</p>
<br>