<h3> Line Graph</h3>
<p>
  <b>Data : </b>
  <%=raw @hchart.data %>
  <br>
  <b>Options</b>
  <%=raw @hchart.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @hchart.div %>
</p>
<br>

<h3> HighStock example</h3>
<p>
  <b>Data : </b>
  <%=raw @stock.data %>
  <br>
  <b>Options</b>
  <%=raw @stock.options %>
  <br>
  <b>StockChart : </b>
  <br>
  <%=raw @stock.div %>
</p>
<br>

<h3> Distribution Map</h3>
<p>
  <b>Options</b>
  <%=raw @map.options %>
  <br>
  <b>Map : </b>
  <br>
  <%=raw @map.div %>
</p>
<br>

<h3> Europe Map with different time zones</h3>
<p>
  <b>Data : </b>
  <%=raw @map_europe.data %>
  <br>
  <b>Options</b>
  <%=raw @map_europe.options %>
  <br>
  <b>Map : </b>
  <br>
  <%=raw @map_europe.div %>
</p>
<br>

<h3> HighChart 3D Piechart</h3>
<p>
  <b>Data : </b>
  <%=raw @chart3d.data %>
  <br>
  <b>Options</b>
  <%=raw @chart3d.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @chart3d.div %>
</p>
<br>

<h3> HighStock Arearange chart using modules option</h3>
<p>
  <b>Data : </b>
  <%=raw @area_range.data %>
  <br>
  <b>Options</b>
  <%=raw @area_range.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @area_range.div %>
</p>
<br>

<h3> US Population density Map</h3>
<p>
  <b>Data : </b>
  <%=raw @map_us_population.data %>
  <br>
  <b>Options</b>
  <%=raw @map_us_population.options %>
  <br>
  <b>Map : </b>
  <br>
  <%=raw @map_us_population.div %>
</p>
<br>

<h3> Idea Map</h3>
<p>
  <b>Data : </b>
  <%=raw @map_idea.data %>
  <br>
  <b>Options</b>
  <%=raw @map_idea.options %>
  <br>
  <b>Map : </b>
  <br>
  <%=raw @map_idea.div %>
</p>
<br>

<h3> Mapline and mappoint series</h3>
<p>
  <b>Data : </b>
  <%=raw @drainage.data %>
  <br>
  <b>Options</b>
  <%=raw @drainage.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @drainage.div %>
</p>
<br>

<h3> World Population Density</h3>
<p>
  <b>Options</b>
  <%=raw @map_world_fix_tooltip.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @map_world_fix_tooltip.div %>
</p>
<br>
