<h3> 3d column Graph </h3>
<p>
  <b>Data : </b>
  <%=raw @col.data %>
  <br>
  <b>Options</b>
  <%=raw @col.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @col.div %>
</p>
<br>

<p>
  <b>Data : </b>
  <%=raw @line_inv.data %>
  <br>
  <b>Options</b>
  <%=raw @line_inv.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @line_inv.div %>
</p>
<br>

<h3> Daru DataFrame: </h3>
<p style="color:blue;width: 100px;">
  <b>Data : </b>
  <%=raw @dt_df2.data %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%=raw @dt_df2.div %></div>
</p>
<br>