<h3> Area Chart Table</h3>
<p>
  <b>Data : </b>
  <%= @area_chart_table.data %>
  <br>
  <b>Options</b>
  <%= @area_chart_table.options %>
  <br>
  <b>Table : </b>
  <br>
  <%= @area_chart_table.div %>
</p>
<br>

<h3> Area Chart</h3>
<p>
  <b>Data : </b>
  <%= @area_chart_chart.data %>
  <br>
  <b>Options</b>
  <%= @area_chart_chart.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%= @area_chart_chart.div %>
</p>
<br>

<h3> Table using data as google spreadsheet URL</h3>
<p>
  <b>Data : </b>
  <%= @table.data %>
  <br>
  <b>Options</b>
  <%= @table.options %>
  <br>
  <b>Table : </b>
  <br>
  <%= @table.div %>
</p>
<br>

<h3> Chart using data as google spreadsheet URL</h3>
<p>
  <b>Data : </b>
  <%= @plot.data %>
  <br>
  <b>Options</b>
  <%= @plot.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%= @plot.div %>
</p>
<br>

<h3> Bar Basic Table</h3>
<p>
  <b>Data : </b>
  <%= @bar_basic_table.data %>
  <br>
  <b>Options</b>
  <%= @bar_basic_table.options %>
  <br>
  <b>Table : </b>
  <br>
  <%= @bar_basic_table.div %>
</p>
<br>

<h3> Bar Custom Table</h3>
<p>
  <b>Data : </b>
  <%= @bar_custom_table.data %>
  <br>
  <b>Options</b>
  <%= @bar_custom_table.options %>
  <br>
  <b>Table : </b>
  <br>
  <%= @bar_custom_table.div %>
</p>
<br>

<h3> Bar Basic Chart</h3>
<p>
  <b>Data : </b>
  <%= @bar_basic_chart.data %>
  <br>
  <b>Options</b>
  <%= @bar_basic_chart.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%= @bar_basic_chart.div %>
</p>
<br>