<h3> Large set of data: </h3>
<p>
  <b>Data : </b>
  A large set of data
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%= @table_array_large.div %></div>
</p>

<br>

<h3> Daru DataFrame: </h3>
<p style="color:blue;width: 100px;">
  <b>Data : </b>
  <%= @dt_df2.data %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%= @dt_df2.div %></div>

</p>


<br>


<h3> Daru DataFrame: </h3>
<p>
  <b>Data : </b>
  <%= @dt_df1.data %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%= @dt_df1.div %></div>
</p>

<br>

<h3> Daru Vector: </h3>
<p>
  <b>Data : </b>
  <%= @dt_dv.data %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%= @dt_dv.div %></div>
</p>
<br>


<h1> Using array : </h1>
<br>
<h3> 2D array: </h3>
<p style='width: 50px'>
  <b>Data : </b>
  <%= @dt_df2_arr.data %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%= @dt_df2_arr.div %></div>
</p>


<br>


<h3> 2D array : </h3>
<p>
  <b>Data : </b>
  <%= @dt_df1_arr.data %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%= @dt_df1_arr.div %></div>
</p>

<br>

<h3> 1D array: </h3>
<p>
  <b>Data : </b>
  <%= @dt_dv_arr.data %>
  <br>
  <b>Table : </b>
  <br>
  <div style="width: 500px;"><%= @dt_dv_arr.div %></div>
</p>

<br>
