<h3> Line Graph - Grey Background using CSS</h3>
<p>
  <b>Data : </b>
  <%= @line_graph.chart.series_data %>
  <br>
  <b>Options</b>
  <%= @line_graph.chart.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%= @line_graph.div %>
</p>
<br>

<h3> Column Graph - Different styling using CSS</h3>
<p>
  <b>Data : </b>
  <%= @column_graph.chart.series_data %>
  <br>
  <b>Options</b>
  <%= @column_graph.chart.options %>
  <br>
  <b>Chart : </b>
  <br>
  <%= @column_graph.div %>
</p>
<br>