<h3> Google Table with Multiple Formatters</h3>
<p>
  <b>Data : </b>
  <%=raw @table.data %>
  <br>
  <b>Options</b>
  <%=raw @table.options %>
  <br>
  <b>Table : </b>
  <br>
  <%=raw @table.div %>
</p>
<br>

<h3> Google Table with Date Formatter</h3>
<p>
  <b>Data : </b>
  <%=raw @table_date.data %>
  <br>
  <b>Options</b>
  <%=raw @table_date.options %>
  <br>
  <b>Table : </b>
  <br>
  <%=raw @table_date.div %>
</p>
<br>

<h3> Google Table with Bar Formatter</h3>
<p>
  <b>Data : </b>
  <%=raw @table_bar.data %>
  <br>
  <b>Options</b>
  <%=raw @table_bar.options %>
  <br>
  <b>Table : </b>
  <br>
  <%=raw @table_bar.div %>
</p>
<br>

<h3> Google Table with Color Formatter</h3>
<p>
  <b>Data : </b>
  <%=raw @table_color.data %>
  <br>
  <b>Options</b>
  <%=raw @table_color.options %>
  <br>
  <b>Table : </b>
  <br>
  <%=raw @table_color.div %>
</p>
<br>